.navigation {
  width: 100vw;
  z-index: 500;
  transition: all 0.1s ease-in-out;
  position: fixed;
  top: 0;
}

.navigation.sticky {
  background: #2c2c2c;
  transition: all 0.1s ease-in-out;
}

.navigation__list {
  list-style: none;

  .navigation__list--item a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: color 0.1s ease-out;
    &:hover {
      color: darken($color: white, $amount: 30%);
    }
  }
}
