<section class="tracks my-5">


  <app-loading *ngIf="isLoading; else elseBlock"></app-loading>

  <ng-template #elseBlock>

    <div class="album__info mb-5">
      <img [src]="album.images[1].url" alt="Album image">
      <h2 class="mt-3">
        {{ albumName }}
      </h2>
      <h5>
        {{ album.artists[0].name }}
      </h5>
    </div>

    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              #
            </th>
            <th scope="col">
              Title
            </th>
            <th scope="col">
              Duration
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of tracks" (click)="handleTrackClick(track)">
            <th scope="row">
              {{track.track_number}}
            </th>

            <td>
              {{track.name}}
            </td>
            <td>
              {{track.duration_ms | date:'mm:ss'}}
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </ng-template>



</section>
