/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Gotham";
  src: url("/assets/fonts/gotham_medium.otf") format("opentype");
}

:root {
  --green: #1ed760;
  --dark: #535353;
  --grey: #b3b3b3;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gotham";
  box-sizing: border-box;
}
